/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

header {
  background-image:url('https://images.unsplash.com/photo-1493673272479-a20888bcee10?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80');
  height: 100px;
  
}

header h1{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 50px;
    letter-spacing: 0.8px;
    word-spacing: -1px;
    color: white;
    font-weight: normal;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: small-caps;
    text-transform: capitalize;
    margin-bottom: 5px;
  
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 18px;
    letter-spacing: 0.8px;
    word-spacing: -1px;
    color: #000000;
    font-weight: normal;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: small-caps;
    text-transform: capitalize;
  
}

nav a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

nav a:hover {
    color: #ffc107;
}

section {
    padding: 40px 0;
    text-align: center;
}

.project {
    margin-bottom: 40px;
}

.project img {
    max-width: 100%;
}

.project h3 {
    margin-top: 10px;
}

/* Add more custom styles as desired */

